.gauge {
  display:inline-block;
  position:relative;
  width:10rem;
  height:5rem;
  overflow:hidden;
  margin:2rem;
}

.gauge:before, .gauge:after, .meter {
  position:absolute;
  display:block;
  content:"";
}

.gauge:before, .meter { width:10rem; height:5rem; }
.gauge:before { border-radius:5rem 5rem 0 0; background:#2a2a2a; }

.gauge:after {
  position:absolute;
  bottom:0;
  left:2.5rem;
  width:5rem;
  height:2.5rem;
  background:#222;
  border-radius:2.5rem 2.5rem 0 0;
}

.meter {
  top:100%;
  transition:1.5s;
  transform-origin:center top;
  border-radius:0 0 6rem 6rem;
  background:rgba(52, 152, 219,1.0);
}

.gauge:hover .meter { transform:rotate(.5turn); }


/* Overload effect ==================== */
.overload { transform-origin:center center; }
.overload:hover {
  animation:overload .15s .5s infinite;
}
.overload .meter { background:gold; }
.overload:hover .meter { background:orangered; }
@keyframes overload {
  25%{ transform:translateX(2px); }
  50%{ transform:rotate(-1deg); }
  75%{ transform:translateX(1px); }
}


.percentage-container {
  color: rgba(52, 152, 219,1.0);
  position:absolute;
  bottom:-.75rem;
  left:2.5rem;
  z-index:1000;
  width:5rem;
  height:2.5rem;
  overflow:hidden;
  text-align:center;
}
